@font-face {
  font-family: "GOODDC";
  src: url("fonts/GOODDC.eot");
  src:
    local("GOODDC"),
    url("fonts/GOODDC.woff") format("woff"),
    url("fonts/GOODDC.ttf") format("truetype");
  font-display: swap;
}
