$font-family-gooddc: "GOODDC";
$font-family-base: "Montserrat", sans-serif;

$color-text: #000000;
$color-muted: #5f6368;
$color-background: #fbfbfb;
$color-surface: #eeeeee;
$color-border: #5f6368;
$color-accent: #fec223;
$color-accent-dark: #b97800;
